* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-size: 16px;
}

header {
    text-align:  center;
}

main {
    height: 100%;
}

.room {
    border: 3px solid gray;
    width: 70%;
    height: 70%;
    margin: 0 auto;
}

.desk-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;

    height: 100%;
    padding: 10px;
}

.desk {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;


    border: 1px solid gray;
    /* height: auto; */
    padding: 3px;
    background-color: azure;
}

.desk-name {
    font-weight: bold;
    font-size: 0.8em;
}

.student-name {
    margin: auto;
    text-align: center;
    font-size: 1.2em;
}

.desk-controls {
    display: flex;
    justify-content: flex-end;
}

.desk-btn {
    border-radius: 3px;

    padding: 2px;

    cursor: pointer;
}