* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-size: 16px;
}

header {
    text-align:  center;
}

main {
    height: 100%;
}

.room {
    width: 70%;
    margin: 0 auto;
}

.desk-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.desk {
    margin: 5px;
    border: 1px solid gray;
    max-width: 200px;
    height: 50px;
    padding: 3px;
}