* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-size: 16px;
}

header {
    text-align:  center;
}

main {
    height: 100%;
}

.room {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.desk-container {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

.desk {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #888;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #333;
    width: 90px;
    height: 80px;
    background-color: #eee;
}

.desk:hover {
    background-color: #ffa500;
}

.desk1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.desk2 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.desk3 {
    grid-column-start: 3;
    grid-column-end: 4;
}

.desk4 {
    grid-column-start: 4;
    grid-column-end: 5;
}


.desk p {
    font-size: 1.5em;
    color: #333;
    text-shadow: 1px 1px #eee;
}
